.cursive {
  font-family: 'Indie Flower', cursive; }

.fit-container {
  position: relative;
  padding-bottom: 100%; }
  .fit-container.wide {
    padding-bottom: 56.25%; }
  .fit-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block; }
    .fit-container img.cover {
      object-fit: cover; }
    .fit-container img.contain {
      object-fit: contain; }

html {
  font-family: 'Merriweather', serif; }

body {
  position: relative; }

a {
  text-decoration: none;
  color: inherit; }

.navbar-item.active:after {
  content: " ";
  background-color: #bcdefa;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: -10px;
  height: 10px;
  z-index: -1; }

.marker {
  background-size: cover;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer; }

.marker.reception {
  background-image: url("/images/marker-reception.jpg"); }

.marker.ceremony {
  background-image: url("/images/marker-ceremony.jpg"); }

.bg-container {
  background-image: url("/images/background.jpg");
  background-attachment: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute; }
