.cursive {
  font-family: 'Indie Flower', cursive;
}

.fit-container {
  position: relative;
  padding-bottom: percentage(1);

  &.wide {
    padding-bottom: percentage(9/16);
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;

    &.cover {
      object-fit: cover;
    }

    &.contain {
      object-fit: contain;
    }
  }
}